/* Estilos para la grilla de productos */
.productos-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;    
}


.producto {
    width: calc(20% - 20px); 
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    
}

@media (max-width: 800px) {
    .producto {
        width: calc(40% - 20px); 
    }
}

.producto img {
    max-width: 100%;
    border-radius: 10px; 
}