{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Tienda</title>
<link rel="stylesheet" href="{% static '/CSS/catalogo.css'%}">
{% endblock extrahead %}

{% block extraheader %}
<ul class="sub-navbar">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'productosCategoria' %}?cat_principal=Arte">Arte</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'productosCategoria' %}?cat_principal=Artesania">Artesanía</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'productosCategoria' %}?cat_principal=Gastronomia">Gastronomía</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'productosCategoria' %}?cat_principal=Medicina_Tradicional">Medicina Tradicional</a>
    </li>
    <li class="search-bar">
        <input type="text" id="search-input" placeholder="Buscar...">
        <button id="search-button" class="search-icon"><i class="fas fa-search"></i></button>
    </li>
</ul>
{% endblock extraheader %}

{% block content %} 
<p>La Tienda del Catatumbo es un tributo a la rica región colombiana del Catatumbo. Este paraíso tropical, ubicado en el noreste de Colombia, bañado por la cálida luz que danza en el río, cautiva con su belleza natural y su historia arraigada.
    <br><br>
    Nuestra tienda rinde homenaje a la diversa artesanía, sabores únicos y la vibrante cultura del Catatumbo. Ofrecemos productos elaborados a mano por talentosos artesanos locales, cada pieza es un tesoro que refleja la destreza y la tradición arraigada en esta región. Desde artesanías exquisitas hasta delicias culinarias, cada artículo cuenta una historia de herencia y creatividad.
    <br><br>
    Más allá de los productos, celebramos la cultura rica y variada del Catatumbo. La música resuena con ritmos autóctonos, las danzas capturan la alegría y el folclore, mientras que las tradiciones se entrelazan con la vida cotidiana. Cada producto en nuestra tienda es un eco de esta vibrante cultura, un tributo a las raíces que alimentan el alma de una región.
    <br><br>
    Te invitamos a explorar y descubrir la esencia del Catatumbo a través de nuestros productos. Cada compra no solo es un enlace con esta tierra encantada, sino también un apoyo directo a las comunidades que mantienen vivas estas tradiciones centenarias.
    <br>
    </p>
    <div>
        <h1>Lo más comprado</h1>
        <div class="productos-grid">
            {% for producto in page_obj %}
            <div class="producto">
                <img src="{{ producto.imagen.url }}" class="card-img-top imagen_tarjeta" alt="Sin Imágen">
                <h2>{{ producto.nombre|upper }}</h2>
                <p>{{ producto.descripcion }}</p>
        
                <a href="{% url 'detalleProducto' producto.id %}" class="btn btn-primary">Detalles</a>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div> 
    </div>
{% endblock content %}
