{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Cultura</title>
{% endblock extrahead %}

{% block content %} 
<section>
    <h2>Nuestra Historia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi...</p>
</section>

<section>
    <h2>Nuestro Equipo</h2>
    <p>Conoce al increíble equipo detrás de nuestra empresa...</p>
</section>

<section>
    <h2>Misión y Visión</h2>
    <p>Nuestra misión es...</p>
    <p>Nuestra visión es...</p>
</section>
{% endblock content %} 