{% extends 'base.html' %}
{% load static %}

{% block extrahead %} 
<title>Carrito</title>
{% endblock extrahead%}

{% block content %} 
<h1 class="display-4" id="title">Carrito Compras</h1>
<p>Carrito compras productos</p>
{% if messages %}
	{% for message in messages %}
    <div {% if message.tags == 'warning' %} class="alert alert-warning alert-message"{% else %} class="alert alert-success alert-message" {% endif %}>
        <b class="message-alert">{{ message }}</b>       
    </div>	
	{% endfor %}
{% endif %}
{% if pedido %}
<form method="POST">
    {% csrf_token %}            
    <input class="form-control d-none" id="procesar" name="procesar" type="number" value="1">
    <br>
    <input type="submit" class="btn btn-success" value="Procesar Pedido">
</form>
<br><br>

<h4 class="display-4">Total Pedido ${{ valorPedido }}</h4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for producto_pedido in productosPedido %}
      <tr>
        <td>{{producto_pedido.producto.nombre}}</td>
        <td>{{producto_pedido.cantidad}}</td>
        <td>{{producto_pedido.valor}}</td>
        <td>
            <a class="btn btn-sm btn-warning" href="{% url 'agregarProducto' producto_pedido.producto.id %}">Editar</a>
            <a class="btn btn-sm btn-danger" href="{% url 'borrarProducto' producto_pedido.producto.id %}">Borrar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% else %}
<p>No se encontraron productos en el carrito <a href="{% url 'tiendaIndex' %}">seguir comprando</a></p>
{% endif %}


{% endblock content%}